

.centerstage{
  margin:auto;

}


.postdate{
  text-align: center;
}

.posttitle{
  font-family: 'Trade Winds';
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-family: 'Trade Winds';
  font-size: 1.5em;
}

.btn-comment{
  position: absolute;
  right:0px;
}

.techfont{
  font-family: 'Trade Winds';
  font-size: 1.5em;
  margin-bottom: 10px;
}

.bigbrand{
  font-size: 1.5em;
}
